body
{
    font-family: Arial, sans-serif;
}

table, td, th
{
    border: 1px solid black;
    border-collapse: collapse;
    padding: .5em;
}

th
{
    background-color: #ddd;
}

td:first-child
{
    text-align: center;
}